.sidebar {
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 5;
  width: 300px;
  left: 0;
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px 20px 0px 0px;
  box-shadow: 2px 0px 56px -20px rgba(0, 0, 0, 0.75);
  transition: 0.4s ease-in-out;
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-closed {
  transform: translateX(-275px);
}

.sidebar-icon-wrapper {
  position: absolute;
  cursor: pointer;
  left: 275px;
  display: inline-block;
  border-radius: 25%;
  background-color: black;
  width: 50px;
  height: 50px;
  transform: scale(0.75);
}

.sidebar-icon-open {
  width: 50px;
  height: 50px;

  transform: rotateZ(180deg);
  transition: 0.4s ease-in-out;
}

.sidebar-icon-closed {
  width: 50px;
  height: 50px;

  transition: 0.4s ease-in-out;
}

.sidebar-post-list {
  margin-left: 0px;
  color: black;
}
.sidebar-post-headings {
  margin-left: 15px;
  color: grey;
}

.sidebar-topic > li {
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: underline;
}
