.sidebar {
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 5;
  width: 400px;
  left: 0;
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px 20px 0px 0px;
  transition: 0.4s ease-in-out;
}

.sidebar-open {
  box-shadow: 2px 0px 56px -20px rgba(0, 0, 0, 0.75);
  transform: translateX(0);
}

.sidebar-closed {
  transform: translateX(-385px);
  box-shadow: none;
}

.sidebar-header {
  display: flex;
  padding-left: 25px;
  align-items: center;
}

.sidebar-header > .link {
  flex-grow: 1;
}

.sidebar-header > .link > h1 {
  margin-bottom: 0;
}

.sidebar-icon-wrapper {
  position: relative;
  left: 45px;
  cursor: pointer;
  display: inline-block;
  border-radius: 25%;
  background-color: black;
  width: 50px;
  height: 50px;
  transform: scale(0.75);
  transition: 0.4s ease-in-out;
}

.sidebar-closed .sidebar-icon-wrapper {
  left: 55px;
  transition: 0.4s ease-in-out;
}

.sidebar-icon-open {
  width: 50px;
  height: 50px;

  transform: rotateZ(180deg);
  transition: 0.4s ease-in-out;
}

.sidebar-icon-closed {
  width: 50px;
  height: 50px;

  transition: 0.4s ease-in-out;
}

.sidebar > nav {
  width: inherit;
  height: calc(100% - 135px);
  margin: 30px 0px 20px 0px;
  padding-right: 16px;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.sidebar-closed > nav {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.sidebar-post-list {
  margin-left: 0px;
  color: black;
}
.sidebar-post-headings {
  color: grey;
}

.sidebar-topic-post-headings {
  background-color: white;
  overflow: hidden;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.sidebar-topic-post-headings.active {
}

.sidebar-topic-post-headings.depth-2 {
}

.sidebar-topic-post-headings.depth-3 {
  margin-left: 20px;
  color: #353535;
}

.sidebar-topic-post-headings.depth-4 {
  margin-left: 40px;
  color: #7a7a7a;
}

.sidebar-topic > li {
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.sidebar-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  font-size: 15px;
}

@media only screen and (max-width: 400px) {
  .sidebar {
    width: 90vw;
  }

  .sidebar-open {
    transform: translateX(0);
  }

  .sidebar-closed {
    transform: translateX(-85vw);
  }
}
